<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Sistema de control doméstico</title>
</head>

<body>
    <div class="wrapper">
        <div class="menu">
            <h1>Sistema de control doméstico</h1>
            <div class="buttons">
                <a class="nav-button" target="_blank" href="/">Nuevo cliente</a>
                <a class="nav-button" target="_blank" href="templates/sensores.html">Formulario sensores</a>
            </div>
        </div>
        <div class="cards">
            <div class="card">
                <h2>Sensores</h2>
                <div class="temp">
                    <h4><span class="emoji">🌡️</span> Temperatura: <span id="temp-holder">No hay valor</span></h4>
                </div>
                <div class="lux">
                    <h4><span class="emoji">💡</span> Luminosidad: <span id="lux-holder">No hay valor</span></h4>
                </div>
            </div>
            <div class="card">
                <h2>Control</h2>
                <div class="temp">
                    <h4><span class="emoji">🌡️</span> Aire acondicionado: <span id="ac-status">Apagado  🔴</span></h4>
                    <button id="ac-toggle-button" class="button green" type="button">Control manual Encender</button>
                </div>
                <div class="lux">
                    <h4><span class="emoji">💡</span> Persiana: <span id="lux-status">Cerrada  🔴</span></h4>
                    <button id="lux-toggle-button" class="button green" type="button">Control manual Abrir</button>
                </div>
            </div>
        </div>
        <button id="auto-toggle-button" class="button green" type="button">Activar Modo Auto</button>
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
    var socket = io();
    document.addEventListener("DOMContentLoaded", () => intializeClient());
    luxOn = false;
    acOn = false;
    lat = 37.167930;
    long = -3.597777;

    socket.on('updateTmp', (updatedTmp) => {
        var tmpField = document.getElementById("temp-holder");
        tmpField.textContent = updatedTmp.value + ' º C';
    });

    socket.on('updateLux', (updatedLux) => {
        var luxField = document.getElementById("lux-holder");
        luxField.textContent = updatedLux.value + ' lux';
    });

    socket.on('acOn', () => { toggleAc(true); });

    socket.on('acOff', () => { toggleAc(false); });

    socket.on('openWindow', () => { toggleLux(true); });

    socket.on('closeWindow', () => { toggleLux(false); });

    socket.on('autoOn', () => { toggleAuto(true); });

    socket.on('autoOff', () => { toggleAuto(false); });

    function intializeClient() {
        setClientLocation();
        setClientControls();
    }

    function setClientControls() {
        document.getElementById("ac-toggle-button").addEventListener("click", () => socket.emit('clientAction', { toggled: 'ac' }));
        document.getElementById("lux-toggle-button").addEventListener("click", () => socket.emit('clientAction', { toggled: 'lux' }));
        document.getElementById("auto-toggle-button").addEventListener("click", () => autoRequest());
    }

    function toggleAc(action = null) {
        var tmpField = document.getElementById("ac-status");
        var button = document.getElementById("ac-toggle-button");
        if (action) {
            acOn = action;
        } else {
            acOn = !acOn;
        }
        if (acOn) {
            tmpField.textContent = 'Encendido  🟢';
            button.textContent = 'Control manual Apagar';
            button.classList.remove('green');
            button.classList.add('red');
        } else {
            tmpField.textContent = 'Apagado  🔴';
            button.textContent = 'Control manual Encender';
            button.classList.remove('red');
            button.classList.add('green');
        }
    }

    function toggleLux(action = null) {
        var tmpField = document.getElementById("lux-status");
        var button = document.getElementById("lux-toggle-button");
        if (action) {
            luxOn = action;
        } else {
            luxOn = !luxOn;
        }
        if (luxOn) {
            tmpField.textContent = 'Abierta  🪟';
            button.textContent = 'Control manual Cerrar';
            button.classList.remove('green');
            button.classList.add('red');
        } else {
            tmpField.textContent = 'Cerrada  🔒';
            button.textContent = 'Control manual Abrir';
            button.classList.remove('red');
            button.classList.add('green');
        }
    }

    function setClientLocation() {
        if (window.navigator.geolocation) {
            window.navigator.geolocation.getCurrentPosition((geolocation) => {
                console.log(geolocation);
                lat = geolocation.coords.latitude;
                long = geolocation.coords.longitude;
            })
        } else {
            console.log("No se pudo obtener la ubicación, por defecto Granada");
        }
    }

    function autoRequest() {
        socket.emit('auto', {lat: lat, long: long});
    }

    function toggleAuto(status) {
        var button = document.getElementById("auto-toggle-button");
        if (status) {
            button.textContent = 'Desactivar Modo Auto';
            button.classList.remove('green');
            button.classList.add('red');
        } else {
            button.textContent = 'Activar Modo Auto';
            button.classList.remove('red');
            button.classList.add('green');
        }
    }
</script>

</html>