<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Sistema de control doméstico</title>
</head>

<body>
    <div class="wrapper">
        <h1>Sistema de control doméstico</h1>
        <div class="cards">
            <form class="card">
                <h2>Temperatura</h2>
                <div class="temp">
                    <span class="emoji">🌡️</span><input id="tmp-value" type="number" name="tmp-input" value="0" />ºC
                </div>
                <input id="update-tmp" class="button white" type="button" value="Actualizar" />
            </form>
            <form class="card">
                <h2>Luminosidad</h2>
                <div class="temp">
                    <span class="emoji">💡</span><input id="lux-value" type="number" name="lux-input" value="0" />lux
                </div>
                <input id="update-lux" class="button white" type="button" value="Actualizar" />
            </form>
        </div>
    </div>
</body>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", () => setActionsListener());
    var socket = io();

    function setActionsListener() {
        document.getElementById("update-tmp").addEventListener("click" , () => {
            updateTmp(document.getElementById("tmp-value").value);
        })
        document.getElementById("update-lux").addEventListener("click" , () => {
            updateLux(document.getElementById("lux-value").value);
        })
    }

    function updateTmp(newTmp) {
        socket.emit('updateTmp', { type: 'tmp', value: newTmp });
    }

    function updateLux(newLux) {
        socket.emit('updateLux', { type: 'lux', value: newLux });
    }
</script>

</html>