* {
    font-family:fantasy;
}

a {
    text-decoration: none;
    color: black;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    background-color: rgb(231, 231, 208);
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-button {
    font-weight: bolder;
    font-size: 1.3em;
    margin-right: 3em;
}

.cards {
    margin-top: 20px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(231, 231, 208);
}

.temp, .lux {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
}

.emoji {
    font-size: 30px;
}

.button {
    font-size: 1.1em;
    cursor: pointer;
    padding: 10px;
    width: 180px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(231, 231, 208);
    margin-top: 20px;
}

.white {
    background-color: white;
}

.green {
    background-color: rgb(207, 228, 207);
}

.red {
    background-color: rgb(228, 183, 183);
}

input {
    width: 80px;
    font-size: 18px;
    margin: 0 10px;
    padding-left: 10px;
}